{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<a href="{{locationPermalink}}" target="_blank" class="side-map">
				<img src="https://maps.googleapis.com/maps/api/staticmap?center=51.5695,0.1296172&zoom=17&size=400x700&markers=51.57078,0.12951"/>
			</a>

			<div class="w3-margin-bottom">
				<h4><i class="fa fa-clock-o"></i> Opening hours</h4>
				<p><strong>Mon, Tue, Wed, Fri: </strong>8:30-17:30</p>
				<p><strong>Thu: </strong>8:30-19:30</p>
				<p><strong>Sat, Sun: </strong>Closed</p>
				<p><strong>If you have an emergency outside our normal opening hours, please call 111 for NHS emergency services.</strong></p>
			</div>
			
			<p>To book an appointment with us, please call <a href="tel:{{telNo}}">{{telNo}}</a>.</p>

			<p>We are located on Chadwell Heath High Road, just a few minutes walk from Chadwell Heath station.</p>

			<p>The nearest bus stops are Chadwell Heath Lane (Stop C), and Japan Road (Stop H), which are served by bus routes 62, 86, 173 and 362.</p>

			<h4>New patients</h4>
			<p>If you're a new patient, you can print, fill out and bring the 'new patient' form below with you to your first appointment so that you can register with us.</p>

			<a href="/files/new_patient_form.pdf" target="_blank" class="file-download fixed" style="margin-bottom:25px;">
				<i class="fa fa-file icon-block" aria-hidden="true"></i>
				<div class="text-block">
					<strong>New Patient Form</strong>
					<p>Download</p>
				</div>
			</a>

			<p>If you're eligible for NHS treatment, please also complete the following form and bring it with you.</p>

			<a href="https://www.nhsbsa.nhs.uk/sites/default/files/2017-05/HC1-health-costs-help-claim-form.pdf" target="_blank" class="file-download fixed" style="margin-bottom:25px;background-color:rgba(155, 30, 233, 0.28);">
				<i class="fa fa-file icon-block" aria-hidden="true"></i>
				<div class="text-block">
					<strong>NHS HC1 Form</strong>
					<p>Download</p>
				</div>
			</a>

			<h4>Existing patients</h4>

			<p>If you're already a patient with us, and some of your details have changed, please complete the following form and provide it at your next appointment.</p>

			<a href="/files/update_patient_form.pdf" target="_blank" class="file-download fixed" style="background-color:rgba(55, 175, 16, 0.28);">
				<i class="fa fa-file icon-block" aria-hidden="true"></i>
				<div class="text-block">
					<strong>Patient Update Form</strong>
					<p>Download</p>
				</div>
			</a>
		</div>
	</div>

	{{> footer}}
</body>