{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">

		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">COVID-19 PANDEMIC</h3>
		</div>

		<div class="w3-container">
			<p>In the current situation of the Covid-19 Pandemic, under the guidance of NHS England we are not
				seeing patients at the surgery. If you have a dental emergency please call the practice for TRIAGING
				only during the hours of 8.30am and 4.30pm. After 4.30 pm please call NHS 111 for advice. If you are
				not a registered patient then please call NHS 111 for advice and treatment.</p>
			<p>Following the announcement last week that dental surgeries will be opening from the 8 June-there
				will be a phased reopening of surgeries and we are STILL only triaging dental emergencies on the
				phone – this is for the safety and protection of our patients and our dedicated staff.</p>
			<p>We are receiving guidance daily and we will endeavour to update the information to you as and
				when we receive this from NHS England. The return to routine dentistry will be in phases. The
				current phase is still to offer advice on emergency dental care only until further notice. Please call
				the surgery for advice from one of our dental team, any urgent care is being referred to the local
				Urgent Care Centres.</p>
			<p>Thank you for your patience and understanding during these unprecedented times.</p>
			<p>Stay well and keep safe.</p>
		</div>

		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<p>The CDO has advised us that local services are being set up for patients with COVID-19 symptoms who require urgent dental care (e.g. pain or swellings). These centres will have appropriate facilities and Protective Personal Equipment such as FFP3 masks.</p>

			<p>Meanwhile the following dental hospitals have coordinated their services for emergency and urgent dental care ONLY as follows:</p>

			<ul>
				<li>King's College Hospital have set up an emergency helpline – you can call: 0203 299 5608 at 8am, and you will be allocated a timeslot to attend</li>

				<li>Guy's Hospital have expanded their dental A&E to 3 floors. There is no phone line, they are offering a first come first served walk-in service for able, disabled and special care patients.</li>

				<li>St Thomas' Hospital - all children are to be directed to St Thomas' for walk in, not King's or Guy's.</li>
	 
				<li>The Royal London Dental Hospital - Phone triage only.
					<ul>
						<li>Adult dental emergencies – Please phone 020 3596 6869 between 9.30 – 12pm</li>
						<li>Paediatric Dental Emergencies- Please call 020 7377 7321 between 9.30am – 12pm</li>
					</ul>
				</li>

				<li>Whipps Cross Hospital-between 9am to 11am. Please phone 020 8535 6437</li>
			</ul>
		</div>
	</div>

	{{> footer}}
</body>