{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Private Fees</h3>
		</div>

		<div class="w3-container fees-list">
			<p>The following are our fees for private treatment.</p>
			<p>A more comprehensive fee guide is available upon request.</p>

			<h5>Hygiene</h5>
			<table>
				<tr><th>Treatment</th><th>Cost</th></tr>
				
				<tr><td>Hygiene treatment</td><td>£60 (per session)</td></tr>
				<tr><td>Airstream</td><td>£45</td></tr>
			</table>

			<h5>Restorations</h5>
			<table>
				<tr><th>Treatment</th><th>Cost</th></tr>
				<tr><td colspan="2">White fillings</td></tr>
				<tr><td>Small</td><td>£65</td></tr>
				<tr><td>Medium</td><td>£80</td></tr>
				<tr><td>Large</td><td>£120</td></tr>

				<tr><td colspan="2">Root fillings</td></tr>
				<tr><td>Incisor/canine</td><td>£200</td></tr>
				<tr><td>Premolar</td><td>£250</td></tr>
				<tr><td>Molar</td><td>£400</td></tr>
			</table>

			<h5>Cosmetic Dentistry</h5>
			<table>
				<tr><th>Treatment</th><th>Cost</th></tr>

				<tr><td>Porcelain veneers</td><td>£500</td></tr>
				<tr><td>Emax</td><td>£600</td></tr>
				<tr><td>Porcelain to metal crown from</td><td>£400</td></tr>
				<tr><td>Porcelain inlay</td><td>£450</td></tr>
			</table>

			<h5>Dentures</h5>
			<table>
				<tr><th>Treatment</th><th>Cost</th></tr>

				<tr><td>Upper and lower dentures</td><td>£800</td></tr>
				<tr><td>Upper or lower denture</td><td>£450</td></tr>
				<tr><td>Flexi dentures upper or lower</td><td>£500 each</td></tr>
			</table>

			<h5>Implants</h5>
			<p>A consultation fee is payable before implants are placed. This costs £300 and will be subtracted from the implant fee.</p>

			<table>
				<tr><th>Treatment</th><th>Cost</th></tr>

				<tr><td>Single implants from</td><td>£2000</td></tr>
				<tr><td>Bone graft from</td><td>£250</td></tr>
				<tr><td>Flexi dentures upper or lower</td><td>£500 each</td></tr>
			</table>

			<h5>Whitening</h5>
			<table>
				<tr><th>Treatment</th><th>Cost</th></tr>

				<tr class="noborder"><td>Home whitening</td><td>£250</td></tr>
				<tr><td colspan="2" class="caption">This includes the fabrication of bespoke upper and lower trays and whitening gel.</td></tr>

				<tr class="noborder"><td>Insurgery whitening</td><td>£450</td></tr>
				<tr><td colspan="2" class="caption">Insurgery power whitening by Zoom.</td></tr>
			</table>

			<h5>Orthodontics: Fastbraces</h5>
			<table>
				<tr><th>Treatment</th><th>Cost</th></tr>

				<tr><td>Consultation</td><td>£50</td></tr>
				<tr><td>Clear upper / metal lower</td><td>£2400</td></tr>
				<tr><td>Just clear upper</td><td>£1700</td></tr>
				<tr><td>Clear upper and clear lower</td><td>£3400</td></tr>
			</table>
		</div>

		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">NHS Charges</h3>
		</div>

		<div class="w3-container fees-list">
			<h4>NHS dental charges from 1 April 2017</h4>

			<p>The charge you pay depends on the treatment you need to keep your mouth, gums and teeth healthy. You will only ever be asked to pay one charge for each complete course of treatment, even if you need to visit your dentist more than once to finish it – either Band 1, Band 2 or Band 3.</p>

			<p>If you are not exempt from charges, you should pay one of the following charges for each course of treatment your receive:</p>

			<h5>Band 1 course of treatment - £20.60</h5>
			<p>This covers an examination, diagnosis (eg X-rays), advice on how to prevent future problems, a scale and polish if needed, and application of fluoride varnish or fissure sealant. If you require urgent care, even if your urgent treatment needs more than one appointment to complete, you will only need to pay one Band 1 charge.</p>

			<h5>Band 2 course of treatment - £56.30</h5>
			<p>This covers everything listed in Band 1 above, plus any further treatment such as fillings, root canal work or if your dentist needs to take out one or more of your teeth.</p>

			<h5>Band 3 course of treatment - £244.30</h5>
			<p>This covers everything listed in Bands 1 and 2 above, plus crowns, dentures and bridges.</p>

			<h6>Free NHS dental treatment or help with health costs</h6>
			<p>You may be eligible for help with all or part of the costs of your NHS dental treatment.
			<p>To see if this applies to you, see the leaflet NHS dental services in England, which is available from any NHS dental practice or from <a href="http://www.nhs.uk/NHSEngland/AboutNHSservices/dentists/Pages/nhs-dental-charges.aspx" target="_blank">http://www.nhs.uk/NHSEngland/AboutNHSservices/dentists/Pages/nhs-dental-charges.aspx</a></p>
			<p>For advice on how to get help with health costs call <a href="tel:0300 330 1343">0300 330 1343</a> or go to the NHS Choices website at <a href="http://www.nhs.uk/healthcosts" target="_blank">www.nhs.uk/healthcosts</a></p>
			<p>For further information on NHS dental services and dental charges, see the leaflet <i>NHS dental services in England</i> or the dental services section of the NHS Choices website (<a href="http://www.nhs.uk/" target="_blank">www.nhs.uk</a>), or ask your NHS England Area Team for help.</p>
		</div>
	</div>

	{{> footer}}
</body>