{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Private Fees</h3>
		</div>

		<div class="w3-container fees-list">
			<p>The following are our fees for private treatment.</p>
			<p>A more comprehensive fee guide is available upon request.</p>
			
			<h5>Routine</h5>
			<table>
			  <tr>
			    <th>Treatment</th>
			    <th>Cost</th>
			  </tr>
			  <tr>
			    <td>Consultation for registered patients</td>
			    <td>£40.00</td>
			  </tr>
			  <tr>
			    <td>Consultation for a 2nd opinion (Includes need for study model &amp; X-ray)</td>
			    <td>£100.00</td>
			  </tr>
			  <tr>
			    <td>X-Rays – Small (each)</td>
			    <td>£10.00</td>
			  </tr>
			  <tr>
			    <td>Pan oral X-Ray</td>
			    <td>£25.00</td>
			  </tr>
			</table>

			<h5>Periodontal</h5>
			<table>
			  <tr>
			    <th>Treatment</th>
			    <th>Cost</th>
			  </tr>
			  <tr>
			    <td>30Min Hygiene Clean</td>
			    <td>£70.00</td>
			  </tr>
			  <tr>
			    <td>Root Plane (under LA) per sextant</td>
			    <td>£60.00</td>
			  </tr>
			  <tr>
			    <td>Full Mouth Root Planning</td>
			    <td>£200.00</td>
			  </tr>
			  <tr>
			    <td>Periochips</td>
			    <td>£40.00</td>
			  </tr>
			  <tr>
			    <td>Perioflush &amp; SP</td>
			    <td>£60.00</td>
			  </tr>
			  <tr>
			    <td>AIRSTREAM</td>
			    <td>£59.00</td>
			  </tr>
			</table>

			<h5>Restorations</h5>
			<table>
			  <tr>
			    <th>Treatment</th>
			    <th>Cost</th>
			  </tr>
			  <tr>
			    <td>Composite (white) anterior</td>
			    <td>£100.00</td>
			  </tr>
			  <tr>
			    <td>Angle</td>
			    <td>£40.00</td>
			  </tr>
			  <tr>
			    <td>Composite posterior, 1 surface</td>
			    <td>£100.00</td>
			  </tr>
			  <tr>
			    <td>Composite posterior, 2 surface</td>
			    <td>£120.00</td>
			  </tr>
			  <tr>
			    <td>Composite posterior, 3 surface</td>
			    <td>£140.00</td>
			  </tr>
			  <tr>
			    <td>Glass Ionomer (white)</td>
			    <td>£70.00</td>
			  </tr>
			  <tr>
			    <td>Fissure Sealant (per tooth)</td>
			    <td>£50.00</td>
			  </tr>
			  <tr>
			    <td>Pin Retention</td>
			    <td>£40.00</td>
			  </tr>
			  <tr>
			    <td>Full tooth composite build up with fibre post</td>
			    <td>£150/200</td>
			  </tr>
			</table>

			<h5>Endodontics</h5>
			<table>
			  <tr>
			    <th>Treatment</th>
			    <th>Cost</th>
			  </tr>
			  <tr>
			    <td>Incisor or Canine</td>
			    <td>£350.00</td>
			  </tr>
			  <tr>
			    <td>Premolar</td>
			    <td>£400.00</td>
			  </tr>
			  <tr>
			    <td>Molar</td>
			    <td>£550.00</td>
			  </tr>
			</table>

			<h5>Surgical Extractions</h5>
			<table>
			  <tr>
			    <th>Treatment</th>
			    <th>Cost</th>
			  </tr>
			  <tr>
			    <td>Anterior</td>
			    <td>£150.00</td>
			  </tr>
			  <tr>
			    <td>Posterior</td>
			    <td>£150.00</td>
			  </tr>
			  <tr>
			    <td>Wisdom Teeth</td>
			    <td>£175.00</td>
			  </tr>
			</table>

			<h5>Cosmetic Dentistry</h5>
			<table>
			  <tr>
			    <th>Treatment</th>
			    <th>Cost</th>
			  </tr>
			  <tr>
			    <td>Composite Veneers</td>
			    <td>£450.00</td>
			  </tr>
			  <tr>
			    <td>Porcelain Veneer</td>
			    <td>£650.00</td>
			  </tr>
			  <tr>
			    <td>Porcelain Veneer Zirconium</td>
			    <td>£800.00</td>
			  </tr>
			  <tr>
			    <td>Bonded Crown</td>
			    <td>£650.00</td>
			  </tr>
			  <tr>
			    <td>Cast Post &amp; Core</td>
			    <td>£100.00</td>
			  </tr>
			  <tr>
			    <td>Maryland Bridge (replace 1 unit)</td>
			    <td>£650.00</td>
			  </tr>
			  <tr>
			    <td>Bridge (per unit)</td>
			    <td>£650.00</td>
			  </tr>
			  <tr>
			    <td>Full Gold Crown</td>
			    <td>£750.00+ (Depends on weight of gold)</td>
			  </tr>
			  <tr>
			    <td>Gold inlay/onlay</td>
			    <td>£750.00</td>
			  </tr>
			  <tr>
			    <td>Empress (porcelain) inlay/onlay (Emax or Zirconia)</td>
			    <td>£650.00</td>
			  </tr>
			  <tr>
			    <td>Empress (porcelain) Crown (Emax or Zirconia)</td>
			    <td>£650.00</td>
			  </tr>
			  <tr>
			    <td>Pin Core</td>
			    <td>£50.00</td>
			  </tr>
			  <tr>
			    <td>Recement Crown</td>
			    <td>£55.00</td>
			  </tr>
			</table>

			<h5>Dentures</h5>
			<table>
			  <tr>
			    <th>Treatment</th>
			    <th>Private</th>
			    <th>Ivoclar Teeth</th>
			  </tr>
			  <tr>
			    <td>Full/Full synthetic</td>
			    <td>£1000.00</td>
			    <td>£1000.00</td>
			  </tr>
			  <tr>
			    <td>Full upper or lower</td>
			    <td>£600.00</td>
			    <td>£600.00</td>
			  </tr>
			  <tr>
			    <td>Partial Synthetic, 1-3 teeth</td>
			    <td>£450.00</td>
			    <td></td>
			  </tr>
			  <tr>
			    <td>4+ teeth</td>
			    <td>£550.00</td>
			    <td></td>
			  </tr>
			  <tr>
			    <td>Partial Chrome</td>
			    <td>£1000.00</td>
			    <td></td>
			  </tr>
			  <tr>
			    <td>Full Chrome</td>
			    <td>£1400.00</td>
			    <td></td>
			  </tr>
			  <tr>
			    <td>Reline for Acrylic</td>
			    <td>£120.00</td>
			    <td></td>
			  </tr>
			  <tr>
			    <td>Sundental</td>
			    <td>£550.00 (each jaw)</td>
			    <td></td>
			  </tr>
			  <tr>
			    <td>Reline for Sundental</td>
			    <td>£150.00</td>
			    <td></td>
			  </tr>
			</table>

			<h5>Mouthguard</h5>
			<table>
			  <tr>
			    <th>Treatment</th>
			    <th>Cost</th>
			  </tr>
			  <tr>
			    <td>Sports guard, plain</td>
			    <td>£160.00</td>
			  </tr>
			  <tr>
			    <td>Sports guard, coloured/striped</td>
			    <td>£160.00</td>
			  </tr>
			  <tr>
			    <td>Bite guard for Soft</td>
			    <td>£160.00</td>
			  </tr>
			  <tr>
			    <td>Bite guard for Michigan Splint</td>
			    <td>£180.00</td>
			  </tr>
			</table>

			<h5>Implants</h5>
			<table>
			  <tr>
			    <th>Treatment</th>
			    <th>Cost</th>
			  </tr>
			  <tr>
			    <td>Consultation &amp; Treatment Plan (involves impressions & lab made implant guide prosthesis) 30 mins</td>
			    <td>£300.00</td>
			  </tr>
			  <tr>
			    <td>Implant placement and crown</td>
			    <td>£2200.00 Minus Consult Fee</td>
			  </tr>
			  <tr>
			    <td>Bridge per Unit</td>
			    <td>£2000.00</td>
			  </tr>
			  <tr>
			    <td>Bone Graft (using Bioss and Bioguide)</td>
			    <td>£500.00</td>
			  </tr>
			  <tr>
			    <td>Sinus Lift</td>
			    <td>£1400.00</td>
			  </tr>
			  <tr>
			    <td>Bio Oss Only</td>
			    <td>£250.00</td>
			  </tr>
			  <tr>
			    <td>Bio guide</td>
			    <td>£250.00</td>
			  </tr>
			</table>

			<h5>Home Whitening</h5>
			<table>
			  <tr>
			    <th>Treatment</th>
			    <th>Cost</th>
			  </tr>
			  <tr>
			    <td>Fabrication of bespoke trays & supply of whitening gel (upper and lower)</td>
			    <td>£250.00</td>
			  </tr>
			</table>

			<h5>Instant Whitening</h5>
			<table>
			  <tr>
			    <th>Treatment</th>
			    <th>Cost</th>
			  </tr>
			  <tr>
			    <td>Fabrication of bespoke trays & supply of whitening gel (upper and lower)</td>
			    <td>£250.00</td>
			  </tr>
			  <tr>
			    <td>One Jaw</td>
			    <td>£250.00</td>
			  </tr>
			  <tr>
			    <td>Use of light to achieve result rapidly (uppers and lowers)</td>
			    <td>£495.00</td>
			  </tr>
			  <tr>
			    <td>Whitening top up (half hour treatment)</td>
			    <td>£100.00</td>
			  </tr>

			  <tr><td colspan="2">ZOOM WHITENING GEL 6%</td></tr>
			  <tr>
			  	<td colspan="2" class="caption">Existing patients only! New patients requesting whitening must have an examination (£40.00)</td>
			  </tr>
			  <tr>
			    <td colspan="2">£40 for 1</td>
			  </tr>
			  <tr>
			    <td colspan="2">£60 for 2</td>
		      </tr>
			  <tr>
			    <td colspan="2">£90 for 3</td>
			  </tr>
			</table>


<!-- 			<table>
				<tr><th>Treatment</th><th>Cost</th></tr>

				<tr class="noborder"><td>Home whitening</td><td>£250</td></tr>
				<tr><td colspan="2" class="caption">This includes the fabrication of bespoke upper and lower trays and whitening gel.</td></tr>

				<tr class="noborder"><td>Insurgery whitening</td><td>£450</td></tr>
				<tr><td colspan="2" class="caption">Insurgery power whitening by Zoom.</td></tr>
			</table> -->

			<h5>Orthodontics: Fastbraces</h5>
			<table>
				<tr><th>Treatment</th><th>Cost</th></tr>

				<tr><td>Initial Consultation</td><td>£120</td></tr>
				<tr><td colspan="2" class="caption">Price will be given after consultation</td></tr>

				<tr><td>Fixed Retainer</td><td>£120</td></tr>
				<tr><td>Essix Retainer</td><td>£120</td></tr>
				<tr><td colspan="2">Rebonding a fixed ortho retainer</td></tr>


				<tr><td>1 – 2 teeth</td><td>£40</td></tr>
				<tr><td>3 – 4 teeth using the same wire</td><td>£80</td></tr>
				<tr><td>Rebond all the retainer and/or new wire</td><td>£120/150</td></tr>
			</table>

			<p>Prices are dependent on consultation and may vary</p>
		</div>

		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">NHS Charges</h3>
		</div>

		<div class="w3-container fees-list">
			<h4>NHS dental charges</h4>

			<p>The charge you pay depends on the treatment you need to keep your mouth, gums and teeth healthy. You will only ever be asked to pay one charge for each complete course of treatment, even if you need to visit your dentist more than once to finish it – either Band 1, Band 2 or Band 3.</p>

			<p>If you are not exempt from charges, you should pay one of the following charges for each course of treatment your receive:</p>

			<h5>Band 1 course of treatment - £25.20</h5>
			<p>This covers an examination, diagnosis (including X-rays), advice on how to prevent future problems, a scale and polish if clinically needed, and preventative care such as the application of fluoride varnish or fissure sealant if appropriate.</p>

			<h5>Band 2 course of treatment - £70.70</h5>
			<p>This covers everything listed in Band 1 above, plus any further treatment such as fillings, root canal work or removal of teeth but not more complex items covered by Band 3.</p>

			<h5>Band 3 course of treatment - £306.20</h5>
			<p>This covers everything listed in Bands 1 and 2 above, plus crowns, dentures, bridges and other laboratory work.</p>

			<h6>Free NHS dental treatment or help with health costs</h6>
			<p>You may be eligible for help with all or part of the costs of your NHS dental treatment.
			<p>To see if this applies to you, see the leaflet NHS dental services in England, which is available from any NHS dental practice or from <a href="https://www.nhs.uk/using-the-nhs/nhs-services/dentists/understanding-nhs-dental-charges/" target="_blank">www.nhs.uk/using-the-nhs/nhs-services/dentists/understanding-nhs-dental-charges</a></p>
			<p>For advice on how to get help with health costs call <a href="tel:0300 330 1343">0300 330 1343</a> or go to the NHS Choices website at <a href="https://www.nhs.uk/using-the-nhs/help-with-health-costs/" target="_blank">www.nhs.uk/healthcosts</a></p>
			<p>For further information on NHS dental services and dental charges, see the leaflet <i>NHS dental services in England</i> or the dental services section of the NHS Choices website (<a href="http://www.nhs.uk/" target="_blank">www.nhs.uk</a>), or ask your NHS England Area Team for help.</p>
		</div>
	</div>

	{{> footer}}
</body>