{{> head}}
<body>
{{> header}}

<div class="w3-container w3-light-grey w3-padding-64">
	<div class="owl-carousel owl-theme home-carousel">
	    <div class="item">
        <img src="http://www.chadwelldentalcare.co.uk/images/reception and surgery/IMG_3774.JPG" />
        <div class="item-blurb">
          <h2>Welcome</h2>
          <h3>Our practice has been established and serving the community for over 70 years</h3>
        </div>
      </div>
	    <div class="item"><img src="http://www.chadwelldentalcare.co.uk/images/reception and surgery/IMG_3699.JPG" /></div>
	    <div class="item"><img src="http://www.chadwelldentalcare.co.uk/images/reception and surgery/IMG_3699.JPG" /></div>
	</div>
  <div class="item-blurb">
    <h2>Welcome</h2>
    <h3>Our practice has been established and serving the community for over 70 years</h3>
  </div>
</div>

{{> footer}}
</body>