{{> head}}
<body>
{{> header}}

<div class="w3-container w3-padding-64">
	<div class="owl-carousel owl-theme home-carousel">
	    <div class="item"><img src="/img/home_carousel/main1.jpg" /></div>
	    <div class="item"><img src="/img/home_carousel/main2.jpg" /></div>
      <div class="item"><img src="/img/home_carousel/main3.jpg" /></div>
      <div class="item"><img src="/img/home_carousel/main4.jpg" /></div>
      <div class="item"><img src="/img/home_carousel/main5.jpg" /></div>
	</div>
  <div class="intro-text">
    <h2>Welcome to Chadwell Dental Care LTD</h2>
    
    <p>Our practice has been serving the community for over seventy years, and we have carried on this tradition.</p>
    <p>We pride ourselves on providing good quality dentistry for all our patients, both NHS and private. We will listen to your needs and give you suitable options for treatment.</p>
    <p>We provide general dentistry from routine fillings to implants and orthodontics.</p>
    <p>As a family based practice, we see generations of the same family attending our practice, and welcome nervous patients.</p>
    <p>It is important for us to give you a good experience at our practice. A good experience for you is a good experience for us!</p>
  </div>
  <div class="file-download centred">
      <img src="/img/cqc_logo.jpg" />
      <div class="text-block">
        <p>We take cross infection control procedures very seriously and were commended by the CQC.</p>
        <p>"Patient's feedback, as well as discussions and observations with a patient confirm they were delighted with the service provided".</p>
        <a href="/files/cqc_report.pdf" target="_blank" style="padding: 10px 0; display: block; text-decoration: underline;">
          Please click here to read the report.
        </a>
        <a href="https://www.cqc.org.uk/share-your-experience-finder" target="_blank" style="display: block; text-decoration: underline;">
          Share your experience
        </a>
      </div>
  </div>
</div>

<div class="w3-row-padding w3-grayscale">
  <div class="w3-col l3 m6 w3-margin-bottom">
    <h3><i class="fa fa-clock-o"></i> Opening hours</h3>
    <p><strong>Mon, Tue, Wed, Fri: </strong>8:30-17:30</p>
    <p><strong>Thu: </strong>8:30-19:30</p>
    <p><strong>Sat, Sun: </strong>Closed</p>
    <p><strong>If you have an emergency outside our normal opening hours, please call 111 for NHS emergency services.</strong></p>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <h3><i class="fa fa-wheelchair"></i> Accessibility</h3>
    <p>The practice is on the ground floor and is fully accessible for the disabled.</p>
    <p>The building has been recently refurbished and all three surgeries have been purpose built with new equipment.</p>
    <h3><i class="fa fa-users"></i> Equality and Diversity policy</h3>
    <p>We at Chadwell Dental Care treat everyone regardless of religion, race, creed, nationality, ethnicity, disability, gender, sexual orientation or age with the respect they deserve without judgement or bias.</p>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <h3><i class="fa fa-calendar-check-o"></i> Appointments</h3>
    <p>To make an appointment, please give us a call or visit our reception.</p>
    <p>We provide both NHS and private dental treatment.</p>
  </div>
  <div class="w3-col l3 m6 w3-margin-bottom">
    <h3><i class="fa fa-star"></i> Commendations</h3>
    <div class="owl-carousel owl-theme commendation-carousel">
      {{#each commendations}}
        <div class="item">
          <blockquote>
            {{this.text}}
            <cite>- {{this.cite}}</cite>
          </blockquote>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="w3-container w3-padding-24">
  <div class="centre-map">
    <a href="{{locationPermalink}}">
      <p>Where to find us</p>
      <img src="/img/maps/staticmap_small.png"/>
    </a>
  </div>
</div>

{{> footer}}
</body>