{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<p>We pride ourselves on being able to offer you many different types of dental solutions, here are some of the different treatments that we can offer you.</p>
			<ul>
				<li><a href="/treatments/airstream.html">Airstream</a></li>
				<li><a href="/treatments/inlays.html">Inlays/Onlays</a></li>
				<li><a href="/treatments/whitening.html">Tooth whitening</a></li>
				<li><a href="/treatments/orthodontics.html">Orthodontics (Braces)</a></li>
				<li><a href="/treatments/veneers.html">Veneers</a></li>
				<li><a href="/treatments/crowns.html">Crowns</a></li>
				<li><a href="/treatments/bridges.html">Bridges</a></li>
				<li><a href="/treatments/whitefillings.html">White fillings</a></li>
				<li><a href="/treatments/implants.html">Dental implants</a></li>
				<li><a href="/treatments/rootcanal.html">Root canal treatment</a></li>
				<li><a href="/treatments/hygiene.html">Hygiene</a></li>
				<li><a href="/treatments/dentures.html">Removable Dentures</a></li>
			</ul>
			<p>Please follow the links above to find out more about the treatment you require.</p>
		</div>
	</div>

	{{> footer}}
</body>