{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64" style="padding-bottom: 16px!important;">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>
	</div>

	<div class="file-download centred" style="padding: 20px;">
	    <h3>Missed Appointments Policy</h3>
	    <div class="entry-date">01/12/25</div>
	    <p>Please be aware that if you fail to attend your appointment or cancel within 24hrs on 2 or more occasions (for a new patient, one occasion), it is at the discretion of the dentist seeing you as to whether or not you will be seen again at our practice.</p>
	</div>

	<div class="file-download centred" style="padding: 20px;">
	    <h3>Update</h3>
	    <div class="entry-date">06/07/23</div>
	    <p>We are now open for routine care for our registered patients. Please feel free to call and book over the phone.</p>
      	<p>We do not accept liability for any treatment performed abroad, be it ongoing or remedial.</p>
	</div>

	<div class="file-download centred" style="padding: 20px;">
	    <h3>Coronavirus</h3>
	    <div class="entry-date">19/07/21</div>
	    <p>An update on NHS dental services at our practice</p>
		<p>As you will know, the Prime Minister has confirmed that public restrictions will be significantly eased on 19th July.</p>
		<p><a style="text-decoration:underline;" href="https://www.gov.uk/government/publications/covid-19-response-summer-2021-roadmap/covid-19-response-summer-2021#contents" target="_blank">Under the Government's guidance "Health and care settings will continue to maintain appropriate infection prevention and control processes as necessary and this will be continually reviewed. Guidance will be updated based on the latest clinical evidence this summer."</a></p>
		<p>In line with the Government’s guidance, England’s Chief Dental Officer Sara Hurley has informed us that the infection prevention control measures in dentistry should continue to be followed until further notice. These are important measures from Public Health England aimed at limiting the spread of the virus in dental settings. We’re also continuing to follow NHS dentistry’s standard operating procedure which helps us make this guidance work.</p>
		<p>This means three things for patients:</p>
		<ol>
			<li>If you need to come into the surgery for an appointment, please remember that social distancing remains in place in the dental practice and to wear a face covering upon entering the building.</li>
			<li>We will continue to have restrictions on leaving time between patients to ventilate rooms if we perform an aerosol generating procedure. An aerosol generating procedure (AGP) is a medical procedure that can result in the release of airborne particles (aerosols) from the respiratory tract when treating someone who is suspected or known to be suffering from an infectious agent transmitted wholly or partly by the airborne or droplet route. In dentistry,for example,use of high speed drill.</li>
			<li>We are also following the Chief Dental Officer’s advice that we should prioritise patients for treatment based on urgency and priority groups, such as those more at risk of dental disease or children.</li>
		</ol>
		<p>Similar public health measures are still in place for hospitals and GP practices, too.</p>
		<p>Every dental practice is working extremely hard to provide care to our patients within the restrictions and guidance to ensure it’s safe to visit the dentist.</p>
		<p>We hope that this helps clarify why these measures are in place for every NHS dental practice.</p>
		<p>Please do give us a call if you think you need to see us, we’re open for patients.</p>
		<p>Best wishes.</p>
	</div>

	<div class="w3-padding-32">
		<div class="file-download centred" style="padding: 20px;">
		    <h3>Coronavirus</h3>
		    <div class="entry-date">25/08/20</div>
		    <p>We are now open for routine care for our registered patients. Please feel free to call and book over the phone.</p>
		    <p>Please do NOT come to the practice in person unless you have a confirmed appointment after telephone triage.</p>
		    <p>We will be using FFP3 masks which we have fit tested plus a whole host of other PPE.</p>
		    <p>Please attend the surgery with your facemasks ON. Your safety and ours is paramount.</p>
		    <p>Initially we will be open 8:30am - 4:30pm Monday to Friday for appointments.</p>
		    <p>After generating any aerosols, the surgery has to be left unoccupied for an hour before being used again. As a consequence, we can only treat limited numbers of patients each day.</p>
		    <p>Out of hours will still be dealt with by NHS 111. If you have COVID 19 symptoms then you must call 111 for advice and treatment.</p>
		    <p>We are very sorry for any inconvenience this has caused.</p>
		</div>
	</div>

	{{> footer}}
</body>