.cdc-bg-green{
	background-color: #1ca2a1;
	color: #FFF;
}
footer{
	overflow: hidden;
	padding: 16px;
	a{
		text-decoration: none;
	}
	.cdc-contact{
		float: left;
		text-align: left;
		a{
			font-size: 20px;
			display: block;
		}
		.phone{
			font-size: 24px;
			i{
				font-size: 20px;
			}
		}
	}
	.footer-carousel{
		background-color: #FFF;
		float: right;
		padding: 3px;
		margin-bottom: 10px;
		img {
			padding-bottom: 4px;
		}
	}
}
header{
	h1{
		margin: 0;
	}
	#cdc-logo{
		background: url('../img/cdc-logo.png') no-repeat scroll 5px 6px;
		text-indent: -9999px;
		margin: 0 0 0 12px;
		padding: 0;
		height: 45px;
	}
}

.commendation-carousel{
	blockquote{
		margin: 0;
		cite{
			display: block;
			padding-left: 5px;
		}
	}
}

@media (min-width:871px){
	.item{
		position: relative;
	}
	footer{
		.footer-carousel{
			width: 50%;
			margin-bottom: 0;
		}
	}
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #888888;

    img {
	    display: inline;
	    margin: 0 auto;
	    height: 100%;
	    width: auto;
	}
}

.staff-section{
	margin-top: 10px;

	.image-cropper{
		text-align: center;
		margin: 0 auto;
	}
	.bio{
		h3, h4, h5{
			text-align: center;
		}
		h3{
			margin-bottom: 0;
		}
		h4{
			margin-top: 0;
		}
		h5{
			margin-top: 0;
			margin-bottom: 0;
			color: #444;
			font-size: 90%;
		}
		margin-bottom: 40px;
	}

	@media (min-width:871px){
		.image-cropper{
			float: left;
			margin: 20px 30px 0 5px;
			width: 130px;
			height: 130px;
		}
		.bio{
			h3, h4, h5{
				text-align: left;
			}

			float: left;
			width: 80%;
		}
	}
}

.img-comparison{
	display: inline-block;
	width: 100%;
	max-width: 900px;

	img{
		width: 95%;
		margin: 0;
		float: left;
		overflow: hidden;
		margin-bottom: 3%;

		@media (min-width:500px){
			width: 45%;
		}
	}
	img:first-of-type{
		margin-right: 3%;
	}
}

@media (min-width:500px){
	#article-carousel img{
		width: 45%;
	}
}

.article-img-centre, .side-partner-logo{
	text-align: center;
}

@media (min-width:675px){
	.side-partner-logo{
		float: right;
		padding: 10px;
	}
}

.article-img-left{
	float: left;
	padding-top: 10px;
	padding-right: 10px;
}

.fees-list{
	h5{
		text-decoration: underline;
		font-weight: bold;
		font-size: 100%;
	}
	table{
		max-width: 600px;
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 40px;
		th{
			background-color: #1ca2a1;
			color: #FFF;
			font-weight: normal;
			&:first-of-type{
				width: 70%;
			}
		}
		td[colspan="2"]{
			font-weight: bold;
		}
		tr{
			td{
				border-bottom: 1px solid #1ca2a1;
				&.caption{
					font-weight: normal;
					font-style: italic;
				}
			}
			&.noborder{
				td{
					border-bottom: none;
				}
			}
		}
	}
}

.cqc-main{
	display: inline-block;
	margin-top: 10px;
	text-decoration: none;
	img{
		float: left;
		padding: 5px;
		margin-top: 6px;
	}
	p{
		padding: 7px;
		overflow: hidden;
	}
}

.side-map{
	display: none;
}

@media (min-width:675px){
	.side-map{
		display: block;
		float: right;
		margin-left: 10px;
	}
}

.centre-map{
	display: block;
	margin: 0 auto;
	text-align: center;
}