.cdc-bg-green{
	background-color: #1ca2a1;
	color: #FFF;
}
footer{
	overflow: hidden;
	padding: 16px;
	a{
		text-decoration: none;
	}
	.cdc-contact{
		float: left;
		text-align: left;
		a{
			font-size: 20px;
			display: block;
		}
		.phone{
			font-size: 24px;
			i{
				font-size: 20px;
			}
		}
	}
	.footer-carousel{
		background-color: #FFF;
		float: right;
		padding: 3px;
		margin-bottom: 10px;
		img {
			padding-bottom: 4px;
		}
	}
}
header{
	h1{
		margin: 0;
	}
	#cdc-logo{
		background: url('../img/cdc-logo.png') no-repeat scroll 5px 6px;
		text-indent: -9999px;
		margin: 0 0 0 12px;
		padding: 0;
		height: 45px;
	}
}

.item{
	.item-blurb{
		display: none;
	}
}

.item-blurb{
	padding: 10px;
	h2{
		font-size: 25px;
	    font-weight: bold;
	}
	h3{
		font-size: 18px;
	}
}

.commendation-carousel{
	blockquote{
		margin: 0;
		cite{
			display: block;
			padding-left: 5px;
		}
	}
}

@media (min-width:871px){
	.item-blurb{
		display: none;
	}
	.item{
		position: relative;
		.item-blurb{
			display: block;
			color: #FFF;
			position: absolute;
			bottom: 10px;
			left: 10px;
			width: 100%;
		}
	}
	footer{
		.footer-carousel{
			width: 50%;
			margin-bottom: 0;
		}
	}
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #888888;

    img {
	    display: inline;
	    margin: 0 auto;
	    height: 100%;
	    width: auto;
	}
}

.staff-section{
	margin-top: 10px;

	.image-cropper{
		text-align: center;
		margin: 0 auto;
	}
	.bio{
		h3{
			text-align: center;
		}
		margin-bottom: 40px;
	}

	@media (min-width:871px){
		.image-cropper{
			float: left;
			margin: 20px 30px 0 5px;
		}
		.bio{
			h3{
				text-align: left;
			}

			float: left;
			width: 80%;
		}
	}
}