{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<h4>What is it?</h4>
			<p>Teeth will stain due to constituents of the food we eat. Red wine, tea, coffee and some medications can deposit unsightly stains on the teeth.</p>
			<p>Airstream can remove this staining effectively and safely.</p>
			<p>A jet of water and cleaning particles removes this build up of staining to reveal the former brilliance of your teeth again!</p>
			<p>This is a very popular treatment and many patients book in for a preclean before important events such as weddings etc.</p>
			<p>Have a regular airstream treatment to maintain the beauty of your teeth.</p>
			<p>The hygienist may also perform airstream at the same time a hygiene treatments.</p>
			<p>Book an appointment today!</p>
			<a href="../treatments.html">Back to treatments</a>
		</div>
	</div>

{{> footer}}
</body>