{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<h4>What are they?</h4>
			<p>A crown or cap is a lab made replacement for a tooth. It matches the shape, contour, shape and colour of the original tooth. Crowns are made from porcelain and metal, porcelain only and metal, usually gold.</p>

			<h4>Procedure</h4>
			<p>The dentist will numb the tooth and remove tooth in order to make room for the crown to be fitted. An impression is taken and then sent to the lab.</p>
			<p>A temporary crown is made until the new crown comes back from the lab.</p>

			<div class="img-comparison">
				<img src="/img/treatments/crown_before.jpg" />
				<img src="/img/treatments/crown_after.jpg" />
			</div>

			<h4>Benefits</h4>
			<ul>
				<li>A crown can strengthen the remainder of the tooth.</li>
				<li>It will look and feel exactly like a natural tooth.</li>
				<li>Crowns can last a long time if properly looked after.</li>
				<li>Crowns can be used where teeth are missing, misshaped or discoloured.</li>
			</ul>

			<a href="../treatments.html">Back to treatments</a>
		</div>
	</div>

{{> footer}}
</body>