{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<h4>What are they?</h4>
			<p>Dentures can be full for the replacement of all the teeth or partial replacing only a few teeth. Dentures are usually made of an acrylic or combination of acrylic and metal depending upon the situation.</p>

			<h4>Procedure</h4>
			<p>It takes usually three or four appointments to make dentures.</p>
			<p>Impressions are taken to make models of the mouth. Then wax rims are made to register the jaw relationship. The next stage is to try the dentures in wax only. If this is successful, then the dentures are made in the finished acrylic material.</p>

			<h4>Benefits</h4>
			<ul>
				<li>Teeth that are missing can be replaced. The patient can eat, chew and speak with the new dentures</li>
				<li>The facial profile can be improved. The dentures can improve the appearance as the materials mimic tooth structure and gums.</li>
				<li>The remaining teeth are protected from accelerated wear and tear.</li>
			</ul>

			<p>Dentures do take time to get used to but invariably give good service for many years.</p>

			<a href="../treatments.html">Back to treatments</a>
		</div>
	</div>

{{> footer}}
</body>