{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<h4>What are they?</h4>
			<p>These are titanium structures that are surgically placed in the jaws of the mouth to replace missing teeth. Months later the implant can be restored with a crown.</p>

			<p>A consultation is required with the dentist in order to ascertain if the patient will benefit from the treatment. A report is written by the dentist after the consultation process.</p>

			<h4>Procedure</h4>
			<ol>
				<li>The gum is cut under local anaesthetic.</li>
				<li>The bone is drilled and the implant is placed into the hole until it is secure.</li>
				<li>The gum is stitched and the implant is left to heal for the next few months.</li>
				<li>At the next visit, the implant is exposed and an impression is taken of the implant, rather like that for a crown.</li>
				<li>The lab then manufactures a crown or bridge for the implant and the dentist fits this on the implant.</li>
			</ol>

			<div class="img-comparison">
				<img src="/img/treatments/implant_before.jpg" />
				<img src="/img/treatments/implant_during.jpg" />
				<img src="/img/treatments/implant_after.jpg" />
			</div>

			<h4>Benefits</h4>
			<p>This treatment is for those individuals with missing teeth, loose dentures and for whom all other options are unrealistic. A classic situation is the individual who has suffered with the loose lower denture. A very stable implant retained denture can increase the quality of life of the patient. Some patients do not want healthy teeth drilled and opt for implant treatment.</p>

			<a href="../treatments.html">Back to treatments</a>
		</div>
	</div>

{{> footer}}
</body>