{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<h4>What are they?</h4>
			
			<p>This is a permanent and aesthetic means of replacing a missing tooth or teeth.</p>

			<p>A titanium screw is surgically placed into the jaw bone, where a tooth or teeth are missing.</p>

			<div class="article-img-centre"><img src="/img/treatments/implants/implant_overview.jpg" /></div>

			<a class="article-img-left" href="http://www.my-dental-implant.com/" target="_blank"><img src="/img/treatments/implants/etk_implants.png" /></a>

			<p>Titanium osseointegrates. This means that bone actually grows onto the surface of the implant, resulting in a very stable fixture. We then place an abutment on the implant and then fabricate a crown.</p>

			<p>Treatment can take between 3-6 months. In some cases we can restore the implants immediately.</p>

			<a class="article-img-left" href="https://www.geistlich.co.uk/en/patients/dental-regeneration/tooth-%20out-whats-%20next" target="_blank"><img src="/img/treatments/implants/geistlich_implants.jpg" /></a>

			<p>Occasionally we may need to perform a graft if the bone is inadequate. This is a simple procedure and is usually carried out at the same time as placing the implant. Bone particles are placed around the defect and implant.</p>

			<p>We always carry out a thorough examination and radiographs and produce a report before commencing any implant treatment.</p>

			<h4>Benefits</h4>
			<p>This treatment is for those individuals with missing teeth, loose dentures and for whom all other options are unrealistic. A classic situation is the individual who has suffered with the loose lower denture. A very stable implant retained denture can increase the quality of life of the patient. Some patients do not want healthy teeth drilled and opt for implant treatment.</p>

			<div class="owl-carousel owl-theme" id="article-carousel">
	    		<div class="item">
					<div class="img-comparison">
						<img src="/img/treatments/implants/implantcase1/implant1a.jpg" />
						<img src="/img/treatments/implants/implantcase1/implant1b.jpg" />
						<img src="/img/treatments/implants/implantcase1/implant1c.jpg" />
					</div>
				</div>
	    		<div class="item">
	    			<div class="img-comparison">
						<img src="/img/treatments/implants/implantcase2/implant_before.jpg" />
						<img src="/img/treatments/implants/implantcase2/implant_during.jpg" />
						<img src="/img/treatments/implants/implantcase2/implant_after.jpg" />
					</div>
				</div>
			</div>

			<a href="../treatments.html">Back to treatments</a>
		</div>
	</div>

{{> footer}}
</body>