{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<h4>What are they?</h4>
			<p>Fillings are needed to repair damaged teeth. Inlays and onlays are alternatives to fillings. They are made in a lab. Inlays and Onlays can be made in porcelain and composite or in metal, like gold.</p>

			<h4>Procedure</h4>
			<ol>
				<li>The dentist will numb the tooth.</li>
				<li>The old filling is removed and an impression taken.</li>
				<li>At the next visit  the inlay is cemented in and set with a light cure.</li>
			</ol>

			<h4>Benefits</h4>
			<ul>
				<li>Inlays and onlays are stronger and last longer than fillings.</li>
				<li>They can be used in the front teeth because of their excellent colour match.</li>
				<li>They are used in back teeth because of their strength and they can also be tooth coloured hence can make the tooth look natural again. Teeth damaged due to decay and trauma can then be repaired this way.</li>
				<li>Less tooth is lost as compared to making crowns.</li>
			</ul>

			<a href="../treatments.html">Back to treatments</a>
		</div>
	</div>

{{> footer}}
</body>