{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<a class="side-partner-logo" href="https://fastbraces.com/" target="_blank"><img src="/img/treatments/fastbraces_logo.png" /></a>

			<h4>What is it?</h4>

			<p>Orthodontics deals with improving the appearance and function of teeth by adjusting the position of the tooth within the jaw.</p>
			<p>Chadwell Dental Care uses Fastbraces&reg; technology, which allows us to straighten your teeth in less time and with less discomfort.</p>

			<h4>Procedure</h4>
			<p>Fastbraces&reg; Technology typically works with just one orthodontic wire from start to finish, whereas old braces usually require a series of wires and tightening procedures.</p>
			<p>Fastbraces&reg; Technology uses a special square super-elastic nickel-titanium wire which is activated by the special design of the braces. This dynamic wire helps upright the whole tooth using the natural temperature of the mouth in just one stage.</p>

			<div class="img-comparison">
				<img src="/img/treatments/fastbraces_before.png" />
				<img src="/img/treatments/fastbraces_after.png" />
			</div>

			<iframe width="560" height="315" src="https://www.youtube.com/embed/XNiF5prjVz4" frameborder="0" allowfullscreen></iframe>

			<h4>Benefits</h4>

			<h5>Minimal Time</h5>
			<p>The biggest question for a child or adult who may need braces would probably be "how quickly can I get them off?"</p>
			<p>Can fast, comprehensive orthodontic treatment now be done in about <strong>20 weeks?</strong> While there are no miracle shortcuts in orthodontics, Fastbraces&reg; Technology is different by design, which allows for treatment time to be measured in weeks, not years.</p>
			<p>The old style brackets are usually square in shape and typically move the crown of the tooth in the first year and the root of the tooth towards it's final position in the second year, thus requiring about two years of treatment.</p>
			<p>Fastbraces&reg; Technology gently allows for movement of the roots of the teeth towards their final position from the onset of treatment, thus treatment could be completed in just a matter of weeks for some patients!</p>

			<h5>Minimal Discomfort</h5>
			<p>University research has shown that Fastbraces&reg; Technology has low mean frictional forces, a clear-cut reduction in sliding friction and pain reduction with fitting front and back teeth together. Thousands of patients have been treated over the past 25 years.</p>

			<h5>Minimal Retainer Wear</h5>
			<p>After treatment, the patient will start out by wearing retainers every night during a normal 8-hour sleep period, or just in the shower for 20 minutes every day, as per the doctor's instructions. Within a year, and from then on, the patient may find that they will only need to wear their retainers for 15-20 minutes a day.</p>

			<p>Tested by leading Universities in the U.S., Europe, and South America.</p>

			<a href="../treatments.html">Back to treatments</a>
		</div>
	</div>

{{> footer}}
</body>