{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<h4>What is it?</h4>
			<p>Gum disease starts when a stick film called plaque build up around the teeth gum margins. If this is allowed to build up after time it becomes tartar or scale. Tartar contains bacteria and acids which irritate the gums. It is more difficult to remove.</p>
			<p>Eventually the gums fall away from the teeth, forming pockets. This allows bacteria to infiltrate and cause damage to the underlying bone which causes looseness and bleeding. Eventually the tooth is lost.</p>

			<h4>Procedure</h4>
			<p>The dentist or hygienist will clean away all the plaque and tartar, even that below the gum line. The pockets are cleaned with deep scaling. Usually this is done under local anaesthetic and the dentist will probably work on one side of the mouth at a time.</p>

			<h4>Benefits</h4>
			<ul>
				<li>If gum disease is allowed to progress teeth will be lost. Root planning can restore health to the gums.</li>
				<li>In addition to home hygiene, good diet and smoking reduction the gums can be maintained. Regular visits to the dentist are essential.</li>
			</ul>

			<a href="../treatments.html">Back to treatments</a>
		</div>
	</div>

{{> footer}}
</body>