{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<p>Teeth are held in the bone by one or more roots. The centre of a tooth contains the nerve and blood supply called the pulp. This extends into the root canal space.</p>
			<p>In the event of decay reaching the pulp or trauma, the pulp can become infected or inflamed. This gives rise to pain. If it continues, the whole pulp down to the root canal is infected and causes an abscess which is usually present at the tip of root. Pain is of a throbbing type.</p>
			<p>Root canal treatment is the removal of the infected pulp and replacement with a filling material.</p>

			<div class="side-partner-logo"><img src="/img/treatments/rootcanal/rootcanal1.jpg" /></div>

			<h4>Procedure</h4>
			<ol>
				<li>An x-ray is taken to determine the number of root canals.</li>
				<li>Under local anaesthetic, an opening is made into the tooth to remove the infected nerve.</li>
				<li>The root space is cleansed and a suitable filling is placed to replace the nerve.</li>
				<li>We then place a filling to replace the cavity initially made. Sometimes a crown is required if a lot of tissue is lost.</li>
				<li>Root treated teeth can darken, but tooth whitening procedures or crowns can mask this.</li>
			</ol>

			<h4>Benefits</h4>
			<ul>
				<li>Pain relief can be instant once the nerve is removed.</li>
				<li>If the infection continues then the tooth would require extraction. Root canal treatment prevents this.</li>
			</ul>

			<a href="../treatments.html">Back to treatments</a>
		</div>
	</div>

{{> footer}}
</body>