{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<p>Veneers are a thin layer of porcelain or composite that are placed over damaged or discoloured teeth. The result is the tooth’s appearance is very much improved.</p>

			<h4>Procedure</h4>
			<p>A small amount of tooth is removed from the front surface of the tooth.</p>
			<p>An impression is taken of this and sent to the lab. The veneer returns 2 weeks later and fitted to the tooth with a resin glue and set with a curing light.</p>

			<div class="owl-carousel owl-theme" id="article-carousel">
				<div class="item">
					<div class="img-comparison">
						<img src="/img/treatments/veneercase1/veneer_1a.jpg" />
						<img src="/img/treatments/veneercase1/veneer_1b.jpg" />
					</div>
				</div>
	    		<div class="item">
					<div class="img-comparison">
						<img src="/img/treatments/veneercase2/veneer_before.jpg" />
						<img src="/img/treatments/veneercase2/veneer_after.jpg" />
					</div>
				</div>
				<div class="item">
					<div class="img-comparison">
						<img src="/img/treatments/veneercase3/veneer_3a.jpg" />
						<img src="/img/treatments/veneercase3/veneer_3b.jpg" />
					</div>
				</div>
			</div>

			<h4>Benefits</h4>
			<ul>
				<li>Very little tooth is removed. The procedure can be done without local anaesthetic in some cases.</li>
				<li>The appearance of the teeth after treatment is very beautiful.  Discolouration, imperfections, stains and old fillings can be hidden.</li>
				<li>Veneers have a protective function against acids in the diet and body that would otherwise wear the teeth and cause sensitivity.</li>
				<li>We do a procedure called a SMILE LIFT. This involves numerous veneers on the front teeth. The results are always very beautiful. This is a very common cosmetic procedure at our clinic.</li>
			</ul>

			<a href="../treatments.html">Back to treatments</a>
		</div>
	</div>

{{> footer}}
</body>