{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<p>Fillings in the past tended to be exclusively mercury containing silver amalgam. These tended to be unpleasing in appearance. Nowadays there are resin or composite alternatives which are very pleasing in nature due to their very tooth like appearance.</p>

			<div class="side-partner-logo"><img src="/img/treatments/fillings/filling1.jpg" /></div>

			<h4>Procedure</h4>
			<p>The old filling is removed and the area is coated in an adhesive. The white filling is placed in the cavity and contoured. It is then set with a light to harden it.</p>

			<h4>Benefits</h4>
			<ul>
				<li>White fillings are more pleasing in appearance.</li>
				<li>White fillings are adhesive are adhesive to teeth unlike silver filling.</li>
				<li>They contain no mercury.</li>
				<li>They can be use to restore fillings in the front teeth.</li>
				<li>Less tooth removal is required for white filling.</li>
			</ul>

			<a href="../treatments.html">Back to treatments</a>
		</div>
	</div>

{{> footer}}
</body>