{{> head}}
<body>
	{{> header}}

	<div class="w3-padding-64">
		<div class="w3-container w3-padding-8" id="projects">
			<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{title}}</h3>
		</div>

		<div class="w3-container">
			<p>Teeth vary in colour from grey, orange brown to near white. Teeth can be different in colour due to trauma, previous dental work, staining as well as the natural discolouration associated with age!</p>

			<h4>Procedure</h4>
			<p>There are two methods.</p>

			<h5>Home whitening</h5>
			<p>Trays are made for the patient for home use for both the upper and lower jaws.</p>
			<p>The patient then applies the provided tooth whitening gel in the trays for 30 minutes a day for two weeks or until satisfied with the amount of whitening.</p>

			<h5>Power whitening</h5>
			<p>This method can give instant excellent results.</p>
			<p>The gums are protected with a gel and the tooth whitening gel containing hydrogen peroxide is applied to the teeth. A light is shone on the teeth for about an hour. The results are apparent after the procedure.</p>
			<p>Some sensitivity is apparent after the treatment but diminishes a few days later.</p>

			<h4>Benefits</h4>
			<p>The appearance of the teeth can be improved dramatically and in a very short amount of time. There is also no drilling done to the teeth as would be the case with veneers and crowns.</p>

			<a href="../treatments.html">Back to treatments</a>
		</div>
	</div>

{{> footer}}
</body>